@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background-primary: #5189AC;
    --color-background-secondary: #ffffff;
    --color-primary-text: #F7FAFC;
    --color-secondary-text: #4A5568;
    --color-primary-border: #E2E8F0;
    --color-hover:#3A6C8B;
    --color-warning:#E53E3E;
    --color-sucess:#38A169;



  --color-primary: #10b981;
  --color-primary-100: #fffffffd;
  --color-accent: #91dfb1;
  --color-secondary: #9bdbb3;


  --color-gray-50: #f9fafb;
}

@layer base {
  .dark {
    --color-background-primary: #1A202C;
    --color-background-secondary:#213b4a;
    --color-primary-text: #E2E8F0;
    --color-secondary-text:  #E2E8F0;
    --color-primary-border:#4A5568;
    --color-hover:#3A6C8B;
    --color-warning:#FC8181;
    --color-success:#68D391;

    --color-primary: ##5189AC;




    /* --color-primary-100: #05462d;

    --color-accent: #99dbb3;
    --color-secondary: #008f32;

    --color-primary-text: #f0fdf4;
    --color-primary-text: #fffffffd;
    --color-gray-50: #577556; */
  }
}

.ti-btn-primary{
  @apply bg-secondary text-white opacity-100 inline-block m-1 items-center justify-center gap-2 rounded border
  border-transparent pt-1.5
  ;
}


/* You can customize Tagify styles further */
.tagify {
  @apply rounded border border-gray-300 py-1 px-2 text-sm shadow-sm;
}


.ti-btn {
  @apply inline-flex items-center justify-center gap-2 rounded border border-transparent px-3 py-1.5 text-sm font-medium transition-all duration-150 ease-in-out cursor-pointer m-1;
}
.label-ti-btn {
  position: relative !important;
  padding-inline-start: 2.6rem !important;
}
