@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
 
  --color-primary: #008f32;
  --color-primary-100: #fffffffd;
  --color-accent: #91dfb1;
  --color-secondary: #9bdbb3;
  --color-background-primary: #ffffff;
  --color-background-secondary: #ffffff;
  --color-primary-text: #1a1a1a;
  --color-gray-50: #f9fafb;

}

@layer base {
  .dark {
      --color-primary: #99dbb1;
        --color-primary-100: #05462d;

  --color-accent: #99dbb3;
  --color-secondary: #008f32;
  --color-background-primary: #0f1a12;
  --color-background-secondary: #4e7a5a;
  --color-primary-text: #f0fdf4;
  --color-primary-text: #fffffffd;
    --color-gray-50: #577556;

  }


 
}
